*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.cb
*.cb2
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loc
*.lof
*.log
*.lot
*.lox
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
/*.pdf
*.pdfsync
*.ps
*.snm
*.soc
*.synctex.gz
*.tdo
*.thm
*.toc
*.upa
*.upb
*.vrb
*.xdy